@model DBProgramming_Class_2.Models.InvoiceLineItem
@{
    ViewBag.Title = "ItemDetails";
}

@using (Html.BeginForm("EditInvoiceItem", "Invoices", FormMethod.Post))
{
    <h2>Add / Edit Invoice Item</h2>

    @Html.HiddenFor(x => x.ItemTotal)
    @Html.HiddenFor(x => x.InvoiceID)


    <label>Product Name: </label>
    <label>@Html.DropDownListFor(x => x.ProductCode, new SelectList(ViewBag.prodList, "ProductCode", "Description"))</label>
    <br />

    <label>Product Quantity: </label>
    <label> @Html.DropDownListFor(x => x.Quantity, new SelectList(ViewBag.prodCount, "Value")) </label>
    <br />

    <input type="submit" value="Submit" />
}
